<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ikarus 260</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body><center>
    <h1>Ikarus 260</h1>
    <img src="static/assets/images/ikarus1.png">
    <img src="static/assets/images/ikarus2.png"><br>
    <p class=larger-txt>
      This is Ikarus 260, which was produced by a legendary <a href="https://goo.gl/maps/owNCDBtxxd5SkvVa6">Hungarian</a> bus manufacturer <a href="https://www.ikarus.hu/">Ikarus</a><br><br>
      Ikarus 260 was manufactured from 1972 to 2002, although the first prototypes were finished in 1970. The city model of Ikarus 260 can fit 21 sitting and ~76 standing passengers<br><br>
      Although Ikarus officially ceased to exist in 2000s, it still has a few successors which continue to manufacture busses
    </p>
  </center><hr><hr>
  <a href="/ikarus28"><button>Ikarus 280</button></a>
  <a href="/robur"><button>Robur</button></a>
  <a href="/index"><button>Homepage</button></a>
  </body>
</html>