<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ikarus 280</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body><center>
    <h1>Ikarus 280</h1>
    <img src="https://images.programmonline.repl.co/berlin-ikarus-280-03/berlin-ikarus-280-03-01.jpg" class=idx-img><br>
    <p class=larger-txt>
      This is Ikarus 280.03, which was produced by a legendary <a href="https://goo.gl/maps/owNCDBtxxd5SkvVa6">Hungarian</a> bus manufacturer <a href="https://www.ikarus.hu/">Ikarus</a><br><br>
      Similarly to Ikarus 260, the mass production started in 1973 (1 year after Ikarus 260) and finished in 2002 (exactly the same year as Ikarus 260). Ikarus 280 is an <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Brighton_%26_Hove_bus_%28111%29.jpg/1280px-Brighton_%26_Hove_bus_%28111%29.jpg">articulated bus</a> (AKA accordion bus), which makes it quite an interesting vehicle. It also means, that Ikarus 280 can fit a lot more people than traditional bus designs: up to ~160 passengers. That's more than twice the amount of passengers Ikarus 260 can fit<br><br>
      [see <a href="/ikarus26">Ikarus 260</a> for a bit more info about the manufacturer]
    </p>
  </center><hr><hr>
  <a href="/ikarus26"><button>Ikarus 260</button></a>
  <a href="/robur"><button>Robur</button></a>
  <a href="/index"><button>Homepage</button></a>
  </body>
</html>