<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center><h1>Old Busses</h1></center>
    <center>
      <a href="/ikarus26"><img src="static/assets/images/ikarus1.png" class=idx-img></a><hr>
      <a href="/ikarus28"><img src="https://images.programmonline.repl.co/berlin-ikarus-280-03/berlin-ikarus-280-03-01.jpg" class=idx-img></a><hr>
      <a href="/robur"><img src="https://images.programmonline.repl.co/finowfurt-robur/finowfurt-robur-02.jpg" class=idx-img></a><hr><hr>
    </center>
    <p>sources:</p>
    <ul>
      <li>
        <a href="https://ikarustours.programmonline.repl.co">
          <button>img: Ikarus 260 + Robur</button>
        </a>
      </li>
      <li>
        <a href="https://images.programmonline.repl.co">
          <button>img: Ikarus 280</button>
        </a>
      </li>
      <li>
        <form action="/sources" method="post">
          <button>other</button>
        </form>
      </li>
    </ul>
  </body>
</html>