 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Robur</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body><center>
    <h1>Robur</h1>
    <img src="https://images.programmonline.repl.co/finowfurt-robur/finowfurt-robur-02.jpg">
    <img
    src="https://images.programmonline.repl.co/finowfurt-robur/finowfurt-robur-01.jpg"><br>
    <p class=larger-txt>
      This is Robur B21: a small bus which was produced in <a href="https://goo.gl/maps/Sv4EbeRQ2AZyAZRB9">Zittau</a>, (East) Germany<br><br>
      Robur was founded in 1888 and started to manufacture vehicles in 1900: only motorcycles at first. In 1912 the company finally started to produce 4-wheeled vehicles, and since 1927, Robur started to mainly offer trucks<br><br>
      The company ceased to exist in 1991
    </p>
  </center><hr><hr>
  <a href="/ikarus26"><button>Ikarus 260</button></a>
  <a href="/ikarus28"><button>Ikarus 280</button></a>
  <a href="/index"><button>Homepage</button></a>
  </body>
</html>