<html>
  <head>
    <title>Sources</title>
  </head>
  <body>
    <p>
      <a href="https://en.wikipedia.org/wiki/Ikarus_(Hungarian_company)">
        en.wikipedia.org/wiki/Ikarus_(Hungarian_company)
      </a><br>
      <a href="https://en.wikipedia.org/wiki/Robur_(truck)">
        en.wikipedia.org/wiki/Robur_(truck)
      </a><br>
      <a href="https://en.wikipedia.org/wiki/Ikarus_260">
        en.wikipedia.org/wiki/Ikarus_260
      </a><br>
      <a href="https://en.wikipedia.org/wiki/Successors_to_Ikarus_(Hungarian_company)">
        en.wikipedia.org/wiki/Successors_to_Ikarus_(Hungarian_company)
      </a><br>
      <a href="https://en.wikipedia.org/wiki/Ikarus_280">
        en.wikipedia.org/wiki/Ikarus_280
      </a><br>
      <a href="https://en.wikipedia.org/wiki/Articulated_bus">
        en.wikipedia.org/wiki/Articulated_bus
      </a>
    </p><hr><hr>
    <a href='/'><button>back</button></a>
  </body>
</html>